body{

	font-family: "trebuchet ms";
	margin: 0 auto;
	
}

table, th, td {
	border: 1px solid #777;
	border-collapse: collapse;
	padding: 5px;
}

#cabecalho{
	background-image: url("images/bg_tabela.png");
	background: #1D1B40;
	padding: 5px;
	height: 160px;
	margin: 0 auto;
	background-repeat: repeat;


}

#principal{
	margin: 0 auto;
	
}

.tabela{
	margin: 0 auto;
	max-width: 100%;
	align-items: center;
	
}

.tb_titulo{
	background: #283475;
	color: #fff;
}

.topo_e{
	float: left;
	margin-left: 0px;
	max-width: 50%;


}

.topo_d{

	margin-right: : 0px;
	padding-right: 10px ;
	float: none;
	color: #f1f1f1;
	max-width: 50%	;
}

